<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="Back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{message.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <img src="assets/img/headers/{{message.header}}">
  <h1 padding>{{message.name}}</h1>
  <ion-card>
    <ion-card-header>
      Park Details
    </ion-card-header>
    <ion-card-content>
      {{message.details}}
    </ion-card-content>
  </ion-card>
</ion-content>
